---
import MainLayout from "../layouts/MainLayout.astro";
import ContentLayout from "../layouts/ContentLayout.astro";
import DetectionCard from "../layouts/DetectionCard.astro";
import ProjectsCard from "../components/cards/ProjectsCard.astro";
import BreadCrumbs from "../components/BreadCrumbs.astro";
import BackToTop from "../components/miscellaneous/BackToTop.astro";

import { category, type Project } from "../data/projects";
import generateSlug from "../lib/generateSlug";
---

<MainLayout>
    <ContentLayout>
        <BreadCrumbs current="projects" />
        {Object.entries(category).map(([cat, projects]) => (
            <DetectionCard subject={cat}>
                {cat === 'academics' && (
                    <h2 class="text-ink/70 font-serif text-lg leading-7">these are my assignment projects through out my college. maybe it could help someone.</h2>
                )}
                {projects!.map((project: Project) => (
                    <ProjectsCard
                        name={project.data.name}
                        description={project.data.description}
                        stack={project.data.stack}
                        github={project.data.github}
                        image={project.data.image}
                        live_link={project.data.live_link}
                        date={project.data.date}
                        content_link={`projects/${generateSlug(project.data.name)}`}
                    />
                ))}
            </DetectionCard>
        ))}
        <BackToTop />
    </ContentLayout>
</MainLayout>
